body {
    background-color: black;
    margin: 0;
    padding: 30px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #d9d9d9;
  }
  
  
  .Navbar {
    display: flex;
    justify-content: center;    
    gap: 40px;                  
    padding: 5px;
    background-color: #111;     
    width: fit-content;          
    margin: 0 auto;              
    margin-bottom: 70px;
    border-radius: 12px;         
  }
  
  
  
  .Navbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .Navbar div:hover {
    transform: scale(1.2); 
  }

  .home{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 70px;
  }
  .home > div{
    height: fit-content;
    
  }
  .left{
    position: sticky;
    top : 0px;
    padding: 30px;
    background-color: #111;
    border-radius: 15px;
    margin: 0, 50px;
    
  }
  img{
    justify-content: center;
    width: 240px;
    height: 280px;
    border-radius: 15px;
  }
  .image{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
  }
  .name{
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    color: rgba(145, 75, 241, 1); 
    font-weight: 700px;
    margin: 15px, 0px;
  }
  
  .work, .location {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: rgb(217, 217, 217);
  }
  .social{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  p{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
  }
  .location{
    margin-bottom: 50px;

  }
  #dcr{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .idea{
    font-size: 68px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 0px;
  }
  .idea > p{
    margin-block-end: 0em;
  }

  .number{
    display: flex;
    justify-content: space-around;
  }

  .no{

    font-size: 58px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;;
    
  }

  .recent{
    font-size: 58px;
  }

  .proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
  }
  
  .proj-card {
    background-color: #111;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .proj-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 40px rgba(145, 75, 241, 1)
  }
  
  .proj-card img {
    width: 100%;
    height: 216;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .proj-card:hover img {
    transform: scale(1.05);
  }
  
  .proj-info {
    background-color: #111;
    padding: 20px;
    color: white;
    text-align: left;
  }
  
  .proj-info h3 {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .proj-info p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
  }
  
  .proj-card:hover .proj-info{
    color : rgba(145, 75, 241, 1)
  }
  

  #work {
    font-size: 1.3rem; 
    color: rgba(145, 75, 241, 1); 
    font-weight: 500;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; /* Make the text uppercase */
    display: inline-block;
    overflow: hidden; 
    padding-right: 5px; 
    white-space: nowrap;
    
  
}

.talk{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
#abc{
  background-color: rgba(145, 75, 241, 1); 
  border-radius: 5px;
  color: #d9d9d9;
  font-weight: 700;
  font-size: 14px;
  width: 200px;
  height: 50px;
  border-color: rgba(145, 75, 241, 1); 
  cursor: pointer;

}

.colab {
  width: auto;
  height: auto;
  padding: 20px;

  background-color: #111;
  border-radius: 20px;
  margin: 50px;
  transition: all 0.4 ease-out;
}

#kk{
  color: rgba(145, 75, 241, 1);
}
.colab:hover{
  cursor: pointer;
  background-color: rgba(145, 75, 241, 1);
  transform: scale(1.02); 
  box-shadow: 0 10px 20px rgba(145, 75, 241, 0.2); 
}
.colab:hover #kk{
  color: #d9d9d9;
}
.colab h2{
  font-size: 3rem;
  margin: 0;
}

@media (max-width: 1024px) and (min-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    margin-left:10%;
    margin-right: 10%;
  }
  .left{
    position: relative;
  }
}

@media (max-width: 799px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
  .left{
    position: relative;
    margin: 0;
    padding: 0;
  }
  .proj{
   grid-template-columns: 1fr; 
  }
}
